@model CategoryDtoForInsertion

<div class="text-center">
    <div class="display-6">Create</div>
</div>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="text-danger" asp-validation-summary="All"></div>

    

    <div class="form-group my-3">
        <label asp-for="CategoryName">Category Name:</label>
        <input asp-for="CategoryName" class="form-control" />
    </div>

    @* <div class="form-group my-3">
        <label asp-for="ProductSummary">Product Summary:</label>
        <input asp-for="ProductSummary" class="form-control" />
    </div> SONRADAN EKLENEBILIR*@

   

    @* <div class="form-group my-3">
        <label asp-for="ProductImageUrl">Product Image:</label>
        <input name="formFile" type="file" class="form-control" />
    </div>  SONRADAN EKLENEBILIR*@

    <div class="form-group my-3">
        <div class="btn btn-group">
            <button class="btn btn-primary" asp-action="Index">
                <i class="fa fa-arrow-left"></i>
                Back to categories
            </button>

            <button class="btn btn-primary" type="submit">
                <i class="fa fa-save"></i>
                Save
            </button>
        </div>
    </div>
</form>