<html>
    <head>
        <title>ADMIN @ViewData["title"]</title>
        <link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    </head>
    <body>
        <header>
            <partial name="_Navbar" />
            @RenderSection("Header", false)
        </header>

        <div class="container">
            <partial name="_Notification"/>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            @RenderSection("Footer", false)
            Store App : Footer
        </footer>

        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/font-awesome/js/all.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js"></script>

        @await RenderSectionAsync("Scripts", false)
    </body>
</html>